            .requestMap-container.fullscreen {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				height:100vh;
				z-index:999;
			}
            .vis-network-tooltip {		
				font-family: Century Gothic,sans-serif !IMPORTANT;
			}
			table.ttip {
				border-spacing: 0;
				border-collapse: collapse;
			}
			table.ttip td {
				text-align:left;
				padding:2px;
			}
